{% extends 'base.html.twig' %}

{% block title %}Tous nos bateaux miniatures{% endblock %}




{% block content %}
<div class="row">
    <div class="col-md-3">
        <h2>Filtrer</h2>
        {{form(form)}}
    </div>
    <div class="col-md-9">
        <h1>Nos Produits</h1>
        <div class="row product-container">
            {% for product in products %}
            {% include 'product/single_product.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}